<%= render 'welcome/nav' %>

<%- model_class = Post -%>
<br></br>

<table class="table table-hover">

	<thead>
			<th><%= model_class.human_attribute_name(:title) %></th>
			<th><%= model_class.human_attribute_name(:text) %></th>
			<th class="small_view"><%= 'Time Created' %></th></div>
			<th class="tableRight"><%= 'Actions' %></th>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.text %></td>
				<td class="small_view"><%= post.created_at.strftime("%B %d, %Y at %H:%M") %></td></div>
				<td class="medium_view"><%= post.created_at.strftime("%B %d, %Y") %></td></div>
				<td class="tableRight">
					<%= link_to 'Show', post, :class => 'btn btn-small' %>
					<%= link_to 'Edit', edit_post_path(post),
		   			  :class => 'btn btn-small btn-warning' %>
					<%= link_to 'Delete', post_path(post),
							:class => 'btn btn-small btn-danger',
							method: :delete, data: { confirm: 
										 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="margin-left"><%= link_to 'New Post', new_post_path, :class => 'btn' %>
</div>
